<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gomeetify</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script>window.$ = window.jQuery = require('jquery');</script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="text-center" style="margin-top: 2.5rem;">
                <img src="../../assets/Goicon.svg">
                <img src="../../assets/Gotext.svg">
            </div>
            <div class="centered">
                <div class="text-center mb-3">
                    <button type="button" style="border-radius: 10px;" id="Join_meet"
                        class="btn btn-sm btn-primary">Join a
                        Meeting</button>
                </div>
                <div class="text-center">
                    <button type="button" style="border-radius: 10px;" id="Sign_in"
                        class="btn btn-sm btn-default border-dark">Sign
                        In </button>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>

</html>