<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gomeetify</title>
    <link rel="stylesheet" href="../css/meet.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script>window.$ = window.jQuery = require('jquery');</script>
</head>

<body>
    <div class="container">
        <form id="Form-Meet">
            <div class="form-row" style="margin-left:22px">
                <h2 class="mt-5 mb-4" style="font-weight: bold;">Join Meeting</h2>
                <div class="form-group">
                    <div style="margin-right:20px;">
                        <input id="URL" style="border-radius: 11px;" class="form-control mb-3" type="url"
                            placeholder="Meeting ID or Personal Link Name" required>
                        <input id="Name" style="border-radius: 11px;" class="form-control" type="text"
                            placeholder="Enter your name" required>
                    </div>
                    <div class="form-check mb-2 mt-3 font-size1">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label" for="defaultCheck1">
                            Remember my name for future meetings
                        </label>
                    </div>
                    <div class="form-check mb-2 font-size1">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label" for="defaultCheck1">
                            Don't connect to audio
                        </label>
                    </div>
                    <div class="form-check mb-3 font-size1">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label" for="defaultCheck1">
                            Turn off my video
                        </label>
                    </div>
                    <div class="mb-4 font-size">
                        <label class="form-check-label" for="defaultCheck1">
                            By clicking "Join", you agree to our <a href="#">Terms of Service</a>
                            and <a href="#">Privacy Statement</a>
                        </label>
                    </div>
                    <button id="Join" style="border-radius: 11px; margin-left: 140px;"
                        class="btn btn-sm btn-outline-primary" type="submit" disabled>Join</button>
                    <button id="cancel" style="border-radius: 11px; margin-left: 13px;"
                        class="btn btn-sm btn-default border-dark" type="button">Cancel</button>
                </div>
            </div>
        </form>
    </div>

    <script src="../js/meet.js"></script>
</body>

</html>