.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    width: 220px;
}

#Join_meet {
    font-weight: bold;
}

.btn-default {
    color: #fff;
    background-color: #878d93;
    border-color: black;
    /*set the color you want here*/
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: #e9eef3;
    border-color: black;
    /*set the color you want here*/
}